{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-around">
        <button class="btn btn-darker">{{ button_label|default('Enregistrer') }}</button>
        <a class="btn btn-darker" href="{{ path('admin_author_role_index') }}">Retourner à la liste</a>
    </div>
{{ form_end(form) }}
