{% extends 'base.html.twig' %}

{% block title %}Manga{% endblock %}

{% block body %}
    <h1>Manga</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ manga.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ manga.title }}</td>
            </tr>
            <tr>
                <th>TotalVolume</th>
                <td>{{ manga.totalVolume }}</td>
            </tr>
            <tr>
                <th>AvailableVolume</th>
                <td>{{ manga.availableVolume }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ manga.year }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('manga_index') }}">back to list</a>

    <a href="{{ path('manga_edit', {'id': manga.id}) }}">edit</a>

    {{ include('manga/_delete_form.html.twig') }}
{% endblock %}
