<nav class="navbar-admin navbar-expand-lg navbar-dark w-100">
    <div class="nav-admin-title flex d-flex justify-content-center p-4 mb-4">
        <h2 class="m-0">ADMIN</h2>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="w-100 m-0 list-group nav-list d-flex">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home_index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('manga_index') }}">Liste</a>
            </li>
            <li class="list-separator my-3 align-self-center"></li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_index') }}">Manga</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_index') }}">Author</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_author_role_index') }}">Rôle de l'auteur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_editor_index') }}">Editeur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_index') }}">EditorCollection</a>
            </li>
            <li class="list-separator my-3 align-self-center"></li>
        </ul>
    </div>
</nav>
